<!DOCTYPE html>
<html>
<head>
<title>StegSecure PRO</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1 class="title">🔐 StegSecure PRO</h1>

<div class="container">

<div class="card">
<h2>🖼 Rasmga yashirish</h2>
<form action="/embed" method="POST" enctype="multipart/form-data">
<input type="file" name="image">
<input type="text" name="secret" placeholder="Secret text">
<input type="password" name="password" placeholder="Password">
<button>Yashirish</button>
</form>
</div>

<div class="card">
<h2>🔎 Rasm extract</h2>
<form action="/extract" method="POST" enctype="multipart/form-data">
<input type="file" name="image">
<input type="password" name="password" placeholder="Password">
<button>Ochish</button>
</form>
</div>

<div class="card">
<h2>🎧 Audio yashirish</h2>
<form action="/audio_embed" method="POST" enctype="multipart/form-data">
<input type="file" name="audio">
<input type="text" name="secret" placeholder="Secret">
<button>Audio Hide</button>
</form>
</div>

<div class="card">
<h2>🎧 Audio extract</h2>
<form action="/audio_extract" method="POST" enctype="multipart/form-data">
<input type="file" name="audio">
<button>Audio Open</button>
</form>
</div>

</div>
</body>
</html>
